PP_ENVIRONMENT=local


# ======== docker ========
APP_IMAGE=payment-processing:local
POSTGRES_IMAGE=postgres:17-bookworm
RABBITMQ_IMAGE=rabbitmq:4-management


# ======== ports ========
BIND_HOST=127.0.0.1
API_PUBLISHED_PORT=8000
POSTGRES_PUBLISHED_PORT=5432
RABBITMQ_PUBLISHED_PORT=5672
RABBITMQ_MANAGEMENT_PUBLISHED_PORT=15672


# ======== DB ========
PP_DATABASE__HOST=postgres
PP_DATABASE__PORT=5432
PP_DATABASE__NAME=payments
PP_DATABASE__USER=payments
PP_DATABASE__PASSWORD=payments_dev
PP_DATABASE__POOL_SIZE=5
PP_DATABASE__MAX_OVERFLOW=5
PP_DATABASE__POOL_TIMEOUT=30


# ======== RabbitMQ ========
RABBITMQ_DEFAULT_USER=payments
RABBITMQ_DEFAULT_PASS=payments_dev
RABBITMQ_DEFAULT_VHOST=payments
RABBITMQ_URL=amqp://payments:payments_dev@rabbitmq:5672/payments


# ======== API ========
PP_APP__HOST=0.0.0.0
PP_APP__PORT=8000
PP_APP__API_KEY=local-development-key
PP_APP__LOG_LEVEL=INFO
PP_APP__LOG_RENDERER=console


# ======== Consumer ========
PP_WORKER__HOST=0.0.0.0
PP_WORKER__PORT=8001
PP_WORKER__LOG_LEVEL=INFO
PP_WORKER__LOG_RENDERER=console


# ======== Outbox ========
PP_OUTBOX__POLL_INTERVAL=1.0
PP_OUTBOX__ERROR_DELAY=3.0
PP_OUTBOX__PUBLISH_TIMEOUT=5.0
PP_OUTBOX__ITERATION_TIMEOUT=15.0
PP_OUTBOX__LOG_LEVEL=INFO
PP_OUTBOX__LOG_RENDERER=console

OUTBOX_DATABASE_POOL_SIZE=1
OUTBOX_DATABASE_MAX_OVERFLOW=0
